body {
    background-color: lightsteelblue;
}

h1 {
    color: rgb(38, 15, 106);
}

h3{
    background-color: gray;
    text-align: center;
    color: rgb(231, 169, 103);

}

.yellow_text:hover {
    color:coral;
}

img{
    display: block;
    margin-left: 475px;
}